name: scroll_to_index
description: scroll to the index of any scrollable widget in Flutter
version: 1.0.6
author: Jerry Chen <b80203@gmail.com>
homepage: https://github.com/quire-io/scroll-to-index
environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter